.box {
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
}

a {
    text-decoration: none !important;
}

a .card h5 {
    color: black;
}

a .card p, .author {
    color: slategrey;
}

.main-container a {
    width: 25%;
}